# PyCharm / VSCode / IDE configs
.idea/

# Robot Framework
tests/output.xml
tests/report.html
tests/log.html

# Ignore all screenshot image formats
*.png
*.jpg
*.jpeg

#Ignore the .vscode folder
.vscode/
